*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family:'Times New Roman', Times, serif ;
  font-size: 16px;
  background: rgb(23, 107, 135,0.9);


}



button{
  width: 25%;
  padding: 10px 15px;
  margin: 10px 15px;
  border-radius: 5px;
  border:none;
  background-color:rgb(4, 18, 36) ;
  color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  
  text-transform: uppercase;
}
button:hover{
  border: 2px solid #469bb8;
  box-shadow: 5px 5px 1px 1px rgba(0,0,0,0.3) ;
  background-color:rgb(29, 51, 80) ;
  color: aliceblue;
}